KERNEL=="hidraw*", ATTRS{idVendor}=="1dd2", ATTRS{idProduct}=="2210", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="1dd2", ATTRS{idProduct}=="2211", GROUP="plugdev"
